@use "src/scss/variables";

* {
    margin: 0px;
}

.buttonsArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: variables.$padder;
    padding-bottom: variables.$padder;
    gap: variables.$padder;
    color: variables.$textColor;
}

.informationArea {
    padding-bottom: 0px;

    .description {
        color: variables.$textColor;
    }
}

.statusArea {
    width: 30px;
    height: inherit;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;

    p {
        font-weight: 600;
    }
}

.statusArea.completed {
    background-color: variables.$completedColor;
}

.statusArea.wip {
    background-color: variables.$workInProgressColor;
}

.statusArea.open {
    background-color: variables.$openColor;
}

.mainContent {
    width: calc(100% - 30px);
    padding: 0px;
}


.todoContainer {
    width: 100%;
    height: 130px;
    background-color: variables.$secondaryColor;
}

.todoContainer .todoTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todoContainer .todoTitle .todoID {
    font-size: 20px;
    font-weight: 500;
    color: variables.$textColor;
}

.todoContainer .todoTitle h3 {
    color: variables.$textColor;
}

.wrapper {
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 700px) {
    .todoContainer {
        height: 200px;
    }

    .informationArea {
        width: 100%;
    }

    .buttonsArea {
        width: 100%;
        justify-content: flex-start;
        padding-top: calc(variables.$padder / 2);
        padding-bottom: calc(variables.$padder / 2);
    }
}