<div class="loginContainer">
    <div class="row">
        <div class="col-12 text-center pageTitle">
            <h3>Register Screen</h3>
        </div>
    </div>
    <div class=" row justify-content-center">
        <div class="col-4 pt-5">
            <form [formGroup]="form" autocomplete="off">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" aria-label="username"
                                aria-describedby="basic-addon1" formControlName="username">
                            <div
                                *ngIf="form.controls['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched)">
                                <small *ngIf="form.controls['username'].errors?.['required']">
                                    Plase enter username!
                                </small>
                                <small *ngIf="form.controls['username'].errors?.['minlength']">
                                    Username should be at least 4 characters long!
                                </small>
                                <small *ngIf="form.controls['username'].errors?.['maxlength']">
                                    Username should be at most 20 characters long!
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowSpacer">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control"
                                aria-label="password" aria-describedby="basic-addon1" formControlName="password">
                            <div
                                *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)">
                                <small *ngIf="form.controls['password'].errors?.['required']">
                                    Password is required!
                                </small>
                                <small *ngIf="form.controls['password'].errors?.['minlength']">
                                    Password should be at least 6 characters long!
                                </small>
                                <small *ngIf="form.controls['password'].errors?.['maxlength']">
                                    Password should be at most 20 characters long!
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowSpacer">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label" for="confirmPassword">Confirm Password</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                                aria-label="confirmPassword" aria-describedby="basic-addon1"
                                formControlName="confirmPassword">
                            <div
                                *ngIf="form.invalid && (form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched)">
                                <small
                                    *ngIf="form.errors?.['passwordsDontMatch'] && !form.controls['password'].invalid">
                                    Passwords don't match!
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowSpacer">
                    <div class="col-12">
                        <button type="button" class="btn registerButton w-100" (click)="register()"
                            [disabled]="form.invalid">
                            Sign Up
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>